@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
html {
    background-color: black;
    color: red;

}

#titel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -100px;
}

#items {
  font-family: 'VT323', monospace;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item {
    margin: auto;
    height: 400px;
}

.item h4{
    text-align: center;
}

.item img {
    height: 200px;
    width: 200px;
    transition: width 1s, height 1s;
    cursor: pointer;
}

.item img:hover{
    height: 300px;
    width: 300px;
}

#nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#nav #toHome {
    cursor: pointer;
    color: black;
    background-color: red;
    width: 60px;
}

#nav #toCart {
    cursor: pointer;
    width: 60px;
    margin-left: 500px;
}
