@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
html {
    background-color: black;
    color: red;

}

#titel {
  margin-left: -100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#items {
  font-family: 'VT323', monospace;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item {
    margin: auto;
    cursor: pointer;
    height: 400px;
}

.item h4{
    text-align: center;
}

.item img {
    height: 200px;
    width: 200px;
    transition: width 1s, height 1s;
}

.item img:hover{
    height: 300px;
    width: 300px;
}
