@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

html{
  background-color: black;
  color: #cc0000;
  font-family: 'VT323', monospace;
font-size: 25px;
}
body{
  margin:  0px;


}
#container{
  display: grid;
  grid-template-areas: 'form';
}
#balk{margin-top: 100px;
    background-color: #ccc;
    color:  #000000;
    z-index: 3;
    grid-area: balk;
    height: 1em;
    margin-top:660px;
    width:100vw;
    position: fixed;


}
input{
  opacity: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ccc;
  font-family: 'VT323', monospace;
padding-bottom: 10px;
  font-size:  17px;

}

#postcode{
visibility: hidden;
}
#banknummer{
visibility: hidden;
}
#really{
visibility: hidden;
}

form{
  grid-area: form;

}
