@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

html {
    background-color: black;
    color: red;
    font-family: 'VT323', monospace;

}

body{
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
    margin: 10px;
}

#grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#grid1 img{
    height: 669px;
    width: 1000px;
}

#grid2 {
    margin: 0 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#grid2 p{
    margin: auto;
}

#grid2 #kopen{
    margin: auto;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 12px;
    color: black;
    background-color: red;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

#grid2 #kopen:hover{
    background-color: #ff3333;
}
#balk{
    background-color: #ccc;
    color:  #000000;
    padding: 5px 0;
    position: sticky;
    bottom: 0;
    margin-bottom: 0;
    height:1em;
}

#nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#nav #toHome {
    cursor: pointer;
    width: 60px;
}

#nav #toCart {
    cursor: pointer;
    width: 60px;
    margin-left: 500px;
}
